
.Bookmark {
  --bookmark-height: 400px;
  height: var(--bookmark-height);
  width: 320px;
  padding: 10px 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bookmark__title {
  font-size: 0.85rem;
}

.Bookmark__description {
  flex: 1;
}

.Bookmark__delete {
  --bookmark-button-height: 32px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--bookmark-button-height);
  /* position: relative; */
  top: calc((var(--bookmark-button-height) + 34px) * -1);
  transform-origin: right bottom;
  margin-right: 5px;
  /* transform: rotate(-90deg); */
  /* width: calc(var(--bookmark-height)); */
}

.Bookmark__delete:hover {
  background-color: #bd0909;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.Bookmark__title a {
  color: slategrey;
  display: block;
  text-decoration: none;
}
.Bookmark__title a:hover {
  color: #4ec281;
}

.Bookmark__footer {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.Bookmark__footer-buttons {
  /* padding: 10px; */
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.Bookmark__category {
  flex: 1;
  font-size: 14px;
  margin: auto;
  /* position: absolute; */
}
