#root {
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.App__main-container {
  display: flex;
  flex-direction: column;
  flex: 10;
}

.App__nav {
  background: #D7E8D4;
  flex: 1;
}

.App__header {
  background: yellowgreen;
}

.App__header a {
  color: #bdbdbd;
}

.App__main {
  overflow: auto;
  display: flex;
  flex-direction: row;
}
