.CategoryListNav__list {
  list-style-type: none;
  margin: 25px 0 0;
  padding: 0;
}

.CategoryListNav__button-wrapper {
  display: flex;
}

.CategoryListNav__add-category-button {
  margin: 20px auto;
}
.CategoryListNav__add-category-button:hover {
  background-color: #4ec281;
  color: white;
}

.CategoryListNav__category-link {
  color: white;
  display: block;
  font-family: var(--custom-font);
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.CategoryListNav__category-link:hover {
  color: white;
  cursor: pointer;
}
.CategoryListNav__category-link.active {
  color: #4ec281;
  background-color: white;
}

.CategoryListNav__num-bookmarks {
  color: #adadad;
  display: block;
  float: right;
  font-size: 10px;
}
